<%- include('../partials/header') %>

<h3>Resources</h3>
<div class="resource-container">
    <% resources.forEach(resource => { %>
        <div class="card bg-dark text-white" id="card-div" b style="width: 20rem;">
            <img src="<%= resource.imageUrl %>" class="card-img" alt="...">
            <h5 class="resource-title"><%= resource.title %> </h5>
            <div class="card-img-overlay" id="resource-content">
                <p class="card-description"><%= resource.description %> </p>
                <a href="<%= resource.link%>" class="btn btn-primary" id="resources-btn">Check out this resource!</a>
                <a href="/resources/<%= resource._id%>" id="details-btn" class="btn btn-primary">Details</a>
            </div>
        </div>
        <% }) %>
</div>
    
<a href="/resources/new" class="btn btn-primary" id="main-page-btn">Add New Resource</a>

<%- include('../partials/footer') %>