<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h3><%= quilt.title %> </h3>

<div class="show-page-container" >
    <div class="details-img">
        <img id="details-img" src="<%= quilt.imageUrl %>" alt="">
        <% if (user?.email == "desaibpayal@gmail.com") { %>
            <form action="/quilts/<%= quilt.id %>/edit" method="GET">
                <button class="btn">Edit Art</button>
            </form>
            <form action="/quilts/<%= quilt.id %>?_method=DELETE" method="POST" id="delete">
                <button class="btn">Delete Art</button>
            </form>
        <% } %>
    </div>
    <div class="details-text">
        <h5>Created: <%= quilt.created %></h5>
        <br>
        <div><%= quilt.description%></div>
        <br>
        <h2>Reviews</h2>
        <br>
        <% if (quilt.reviews.length) { %>
            <table>
            <thead>
                <tr>
                <th>Date</th>
                <th>Reviewer</th>
                <th>Review</th>
                <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <% let total = 0 %>
                <% quilt.reviews.forEach(function(w) { %>
                <% total += w.rating %>
                <tr>
                    <td><%= w.createdAt.toLocaleDateString() %></td>
                    <td><%= w.reviewer %></td>
                    <td><%= w.content %></td>
                    <td><%= w.rating %></td>
                </tr>
                <% }); %>
                <tr>
                <td colspan="2"></td>
                <td><strong>Average Rating: <%= (total / quilt.reviews.length).toFixed(1) %></strong></td>
                </tr>
            </tbody>
            </table>
        <% } else { %>
            <h5>No Reviews Yet</h5>
        <% } %>
        <br>
        <form id="add-review-form" method="POST" action="/quilts/<%= quilt._id %>/reviews">
          <label>Reviewer:</label>
          <input type="text" name="reviewer">
          <br>
          <br>
          <label>Review:</label>
          <textarea name="content"></textarea>
          <br>
          <label>Rating:</label>
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <br>
        <input class="btn" type="submit" value="Add Review">
        </form>
    </div>
</div>


<%- include('../partials/footer') %>